:root{
    --background-color: rgb(244, 207, 165) ;
    --light-color:rgb(170, 202, 209);
    --dark-color:rgb(17, 19, 20);
    --link-color:rgb(74, 85, 87);
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    font-size: 16px;

}
.image-row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.imagerow{
    display: flex;
    justify-content: end;
    align-items: end;
}

#head{
    font-size:70px;
    text-align: center;
    padding-bottom: 0%;
    margin-top: 0%;
    h3{
        margin-bottom: 20px;
        margin-top: 2%;
    }
}

#post{
    text-align: center;
    color: rgb(0, 0, 0);

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  



.subhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding:0px;
    
}

sub{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    display: flex;
    position:relative;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 70px;
}

