* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 20%; /* Adjust width as needed */
  background-color: #ffcccc;
  color: #2d2c2c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  width: 100%;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #000000;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.sidebar ul li a:hover {
  transform: scale(1.1); /* Grow slightly on hover */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.images {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.image-1 {
  width: 400px; /* Set specific width */
  height: auto;
  object-fit: contain; /* Prevent distortion */
}

.image-2 {
  width: 800px; /* Set specific width */
  height: auto;
  object-fit: contain; /* Prevent distortion */
}

.image-3 {
  width: 600px; /* Set specific width */
  height: auto;
  object-fit: contain; /* Prevent distortion */
}

.blurb {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  font-family: "stevie-sans", sans-serif;
font-weight: 400;
font-style: normal;
}

#head{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  color: #2d2c2c;
}

.subhead{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  text-align: center;
  padding-bottom: 40px;
  font-size: x-large;
  
}

.blurb2 {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  font-family: "stevie-sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* Centering styles for this instance */
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering, optional */
  height: 100vh; /* full viewport height to center vertically */
}